<!DOCTYPE html>

<html lang="en">
<head>
  <title>Songdown</title>
  <script type="text/javascript" src="{{scriptUrl}}" async></script>
</head>
<body></body>

<script type="text/javascript">
  window.SONGDOWN_JSON_URL = '{{songsJsonUrl}}';
</script>
</html>
