
.song {
  width: 75%;
  float: left;
}

.sidebar {
  width: 20%;
  float: right;
}

@media print {

  /* Hide sidebar */
  .sidebar {
    display: none;
  }

  /* max width */
  .song {
    width: 100%;
  }
}
