
.header {
  border: 6px solid black;
  border-radius: 40px;
  margin: 40px auto;
  padding: 10px;
}

body {

  /* This only works when the user's browser supports CSS3. */
  transition: background 0.5s linear;

  /* This makes sure the image is in the right place all the time. */
  background-repeat: no-repeat;
  background-size: cover;
}
