.container {
  margin: 0 auto;
  text-align: center;
}
img {
  width: 20%;
  height: auto;
  margin-top: 20px;
}
a {
  color: #000000;
  text-decoration: none;

  /* Make it look fancy. */
  border: 3px solid black;
  padding: 15px;
  border-radius: 20px;
  font-weight: bold;
}
a:hover {
  background-color: #c8c8c8;
}
