body {
    font-family: "Segoe UI", "Arial";
}

#index-header {
    padding: 10px;
}

.center-text {
    text-align: center;
}

hr {
    /* change color and thickness */
    border: none;
    height: 2px;
    background-color: black;

    width: 80%;
}

hr.small {
    width: 40%;
}

hr.thick {
    height: 4px;
}

body.index-bg {

    /* This only works when the user's browser supports CSS3. */
    transition: background 0.5s linear;

    /* This makes sure the image is in the right place all the time. */
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

.box {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 3px;
    margin: 10px 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    /* Centering and stuff */
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}

ul.songs {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

li.song-link {
    padding: 8px;
    height: 20px;
    list-style: none;
}

a.song-link {
    /* Override the link styles because they're ugly. */
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.song-link-name {
    float: left;
}


/* Lots of css for a fancy button */
.song-link-button {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: right;
    padding: 3px 7px;
    border-radius: 12px;
    width: 30px;
    transition: all 0.5s ease;
}

.song-link-button:hover {
    border-radius: 4px;
}

.blue-button {
    color: #fff;
    background: #48C9FF;
    background: linear-gradient(to bottom, #48C9FF 0%, #2EA8E5 100%);
    text-shadow: #29a3cc 0 1px 3px;
    box-shadow:
        inset 0 1px 0 #38bdf4,
        inset 0 2px 0 #7bdeff,
        0 1px 3px #777,
        0 0px 1px #ccc;
}


/* TODO implement this laterz! */
#refresh-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
}


@media print {

    /* Do this to avoid cutting verses off across pages. */
    .verse-wrap {
        page-break-inside: avoid;
    }

    /* Hide sidebar */
    #sidebar {
        display: none;
    }

    /* max width */
    #song {
        width: 100%;
    }
}
