/* Base level styles for relevant for each theme. */
.song {
  font-family: monospace;
}

.verse-chords, .verse-lyrics {
  margin-left: 10%;
  white-space: pre;
  font-family: monospace;
}

.verse-title {
  margin-left: 5%;
}
