/* Base level styles for relevant for each theme. */
#song, .song {
  font-family: monospace;
  width: 75%;
  float: left;
}

#sidebar {
  width: 20%;
  float: right;
}

.verse-chords, .verse-lyrics {
  margin-left: 10%;
  white-space: pre;
  font-family: monospace;
}

.verse-title {
  margin-left: 5%;
}
