<h1>{{artist}}</h1>


<!--

{{#each songs}}
  <fieldset class="artist-container">
    <legend class="center-text"><h2>~ {{@key}} ~</h2></legend>
    <ul class="songs">
    {{#each this}}
      <li><a class="song-link" href="/song/{{fname}}" target="_blank">{{track}}</a></li>
    {{/each}}
    </ul>
  </fieldset>
{{/each}}

-->
