<!DOCTYPE html>

<html lang="en">

<head>
  <title>Songdown</title>

  <!-- Google Roboto font for Material UI. -->
  <link href='css/roboto.css' rel='stylesheet' type='text/css'>

  <style type="text/css">
    body {
      background-color: rgb(109, 196, 77);
    }
  </style>
</head>

<body></body>

{{#js "build/js/build"}}{{/js}}

</html>
