<!DOCTYPE html>

<html lang="en">
<head>
  <title>Songdown Editor</title>

  {{! TODO: Should this become a theme selector? }}
  {{#css "css/theme-base"}}{{/css}}
  {{#css "css/theme-colorful"}}{{/css}}

  {{#css "css/styles-base"}}{{/css}}
  {{#css "css/styles-edit"}}{{/css}}
</head>
<body>
  <div id="content">
    <div id="editor-container">
      <em>Enter Songdown</em>
      <textarea id="editor">{{{source}}}</textarea>
      <p>
        Don't know what this is? See the <a href="https://github.com/1vasari/songdown-app/wiki/The-Songdown-Syntax" target="_blank">help article.</a>
      </p>
    </div>
    <div id="preview-container">
      <em>Preview</em>
      <div id="preview" class="song"></div>
      <p class="center-text">{{versionString}}</p>
    </div>
  </div>
</body>

{{#js "build/js/edit"}}{{/js}}

</html>
