<!DOCTYPE html>

<html lang="en">
<head>
  <title>Songdown Editor</title>

  {{#css "css/theme-base.css"}}{{/css}}

  {{! TODO: Should this become a theme selector? }}
  {{#css "css/theme-colorful.css"}}{{/css}}

  <style type="text/css">
    #editor-container {
      float: left;
      width: 45%;
    }
    #editor {
      transition: height 0.2s;
      -webkit-transition: height 0.2s;
      -moz-transition: height 0.2s;
      width: 100%;
      font-size: 16px;
    }
    #preview-container  {
      float: right;
      width: 45%;
    }
    #preview {
      font-size: 16px;
    }
    .song {
      /* The theme-base CSS floats the song to the right, we need to negate that. */
      float: none;
    }
    .center-text {
      text-align: center;
    }
    body {
      font-family: "Segoe UI", "Arial";
    }
  </style>
</head>
<body>
  <p class="center-text">{{versionString}}</p>
  <div id="content">
    <div id="editor-container">
      <em>Enter Songdown</em>
      <textarea id="editor">{{{source}}}</textarea>
      <p>
        Don't know what this is? See the <a href="http://1vasari.github.io/songdown-blog/help/2015/02/07/the-syntax.html">help article.</a>
      </p>
    </div>
    <div id="preview-container">
      <em>Preview</em>
      <div id="preview" class="song"></div>
    </div>
  </div>
</body>

{{#js "build/js/edit"}}{{/js}}

</html>
