<!DOCTYPE html>

<html lang="en">
<head>
  <title>{{title}}</title>

  {{#css "css/vendor/bootstrap"}}{{/css}}
  {{#css "css/styles-index"}}{{/css}}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center header">{{title}}</h1>
        <form>
          <h2>Please sign in</h2>
          <div class="form-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
