<!DOCTYPE html>
<html>
<head>
  <title>404</title>

  <style type="text/css">
  body {
    background-image: url('{{#assetPath "assets/404.jpg"}}{{/assetPath}}');
    background-size: cover;

    font-family: "Segoe UI", "Arial";
  }

  h1 {
    margin-left: 30%;
    margin-top: 20%;
  }
  </style>
</head>
<body>

  <h1>404 - Not Found</h1>

</body>
</html>
