<!DOCTYPE html>
<html>
<head>
  <title>404</title>

  <style type="text/css">
  body {
    font-family: "Segoe UI", "Arial";
    font-size: 16px;
  }
  .container {
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 20%;
    height: auto;
    margin-top: 20px;
  }
  a {
    color: #000000;
    text-decoration: none;

    /* Make it look fancy. */
    border: 3px solid black;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
  }
  a:hover {
    background-color: #c8c8c8;
  }
  </style>
</head>
<body>

  <div class="container">
    <p>
      <h1>404 - Not Found :(</h1>
    </p>
    <p>
      <img src="{{#assetPath 'assets/science.jpeg'}}{{/assetPath}}"></img>
    </p>
    <br />
    <a href="/">« Return back Home</a>
  </div>

</body>
</html>
