<!DOCTYPE html>
<html>
<head>
  <title>404</title>

  {{#css "css/styles-base"}}{{/css}}
  {{#css "css/styles-not-found"}}{{/css}}
</head>
<body>

  <div class="container">
    <p>
      <h1>404 - Not Found :(</h1>
    </p>
    <p>
      <img src="{{#assetPath 'assets/science.jpeg'}}{{/assetPath}}"></img>
    </p>
    <br />
    <a href="/">« Return back Home</a>
  </div>

</body>
</html>
